= javascript_include_tag "chartkick"
.row.well
  .col-md-12
    form.hmm-form.form-inline action="#{ hmp_path }"
      .form-group
        label for="count_hidden"
          ="Кількість урн:"
        = text_field_tag :count_hidden, @count_hidden , class: "form-control"
      .form-group
        label for="count_conditions"
          ="Кількість станів:"
        = text_field_tag :count_conditions, @count_conditions , class: "form-control"
      .form-group
        label for="count_values"
          ="Кількість значень:"
        = text_field_tag :count_values, @count_values , class: "form-control"
      input.btn.btn-primary type="submit" value="Модель"
.row#data
  = "#{@hmp.series.to_json}"
.row
  #container

.row
row
  .col-md-12
    -@hmp.models[0..@count_hidden-1].each_with_index do |chain, i|
      table.table.table-bordered.table-hover
        caption
          = "Matrix ##{i}"
        - chain.matrix.each do |row|
          tr
            - row.each do |e|
              td
                = e
javascript:
  $(function () {
    var series = $.parseJSON($("#data").text());
    $.each(series, function(index, e){
      e['marker'] = {
          fillColor: {
              radialGradient: { cx: 0.4, cy: 0.3, r: 0.7 },
              stops: [
                  [0, 'rgba(255,255,255,0.5)'],
                  [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0.5).get('rgba')]
              ]
          }
      }
    });

    console.log(series);

    $('#container').highcharts({

        chart: {
            type: 'bubble',
            plotBorderWidth: 1,
            zoomType: 'xy'
        },

        title: {
            text: 'HMP'
        },

        xAxis: {
            gridLineWidth: 1
        },

        yAxis: {
            startOnTick: false,
            endOnTick: false
        },

        series: series

    });
  });